<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {%if messages%}
            {%for m in messages%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-5 mt-5">
            <img src="../images/FashionStr.jpg"
          class="img-fluid" alt="Phone image">
            <img src="../images/shop.png"
          class="img-fluid" alt="Phone image">
        </div>
        <div class="col-6">
            <form action="" class="border mt-5" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <div class="mb-3">
                    <button type="submit" class="btn btn-info">SignUp</button>
                </div>
            </form>
        </div>
        <div class="col-1">
<!--            <img src="../images/Shopping-Image.png"-->
<!--          class="img-fluid" alt="Phone image">-->
        </div>
    </div>
</div>


</body>
</html>